:root {
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
  --border-radius: 8px;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.gap-xs {
  gap: var(--space-xs);
}
.gap-sm {
  gap: var(--space-sm);
}
.gap-md {
  gap: var(--space-md);
}
.gap-lg {
  gap: var(--space-lg);
}
.mt-sm {
  margin-top: var(--space-sm);
}
.mb-sm {
  margin-bottom: var(--space-sm);
}
.p-sm {
  padding: var(--space-sm);
}
.p-md {
  padding: var(--space-md);
}
.rounded {
  border-radius: var(--border-radius);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  margin: 0;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

button {
  color: #fff;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
