@import 'tailwindcss';

:root {
  --bg-primary: #f4f1ec;
  --bg-secondary: #5f7ea0;
  --text-primary: #545149;
  --text-secondary: #ffffff;
  --accent: #5f9ea0;
}

@layer base {
  body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-primary);
    background-color: var(--bg-primary);
  }

  section {
    padding: 2rem 1rem;
  }

  /* Buttons */
  button {
    cursor: pointer;
    color: white;
  }

  button:focus-visible {
    outline: 1px solid #4f46e5;
  }

  button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
