.header {
  height: 250px;
  width: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding-top: 5%;
  background-color: #5f7ea0;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  color: white;
}

.header img {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}



