/* Header section containing user profile image and name */
 
.header {
  width: 100%;  
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12%;
  padding-bottom: 5;
  background-color: #5f7ea0;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  color: white;
}

.header img {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}



