/*
 * Navigation bar
 */

 .nav {
  height: 110px;
  width: 100%;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1.5em 0.5em 1.5em;
  color: #FFFFFF;
  background-color: #5f9ea0;
  position: fixed;
  top: 0; 

}

.nav-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33vw;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

.nav-left {
  width: 33.33vw;
}

.nav-right {
  width: 33.33vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.75em;
  color: #FFFFFF;
}

/* "Write a new tweet" button */

.nav-btn {
  background:none;
  border: none;
  outline: none;
  color:#FFFFFF
}

button.nav-btn:hover {
  opacity: 75%;
  border: dashed 0.5px;
}

.nav-arrow {
  color: #F6E481;
  font-size: 1.5em;
}

