textarea#tweet-text {
  width: 100%;
  border: none;
  border-bottom: 3px solid darkslategrey;
  height: 40px;
  background: none;
  outline: none;
  font-size: 20px;
}

section.new-tweet {
  margin-bottom: 20px;
}

.form-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  font-family: 'Bungee', cursive;
}

button {
  padding: 6px;
  background-color: #5f7ea0;
  color: white;
  font-size: 16px;
}

output {
  font-family: 'Bungee', cursive;
  font-size: 18px;
}




