textarea#tweet-text {
  width: 100%;
  border: none;
  border-bottom: 3px solid darkslategrey;
  height: 40px;
  background: none;
  outline: none;
}

section.new-tweet {
  margin-bottom: 5%;
  min-width: 270px;
  display: none;
}

.form-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  font-family: 'Bungee', cursive;
}

button {
  padding: 6px;
  background-color: #5f7ea0;
  color: white;
  font-size: 16px;
}

output {
  font-family: 'Bungee', cursive;
  font-size: 18px;
}

#warning-empty {
  margin-top: 2%;
  color: red;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#warning-maximum {
  margin-top: 2%;
  color: red;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
}


